name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: swift build

    - name: Lint in allow_failures mode
      run: swiftlint --fix && git diff && swiftlint || true

    - name: Test
      run: ./.build/debug/volume --help
      
    - name: Test from release
      run: |
       brew install mint
       mint install meowmeowmeowcat/volume@v0.0.2
       mint run meowmeowmeowcat/volume@v0.0.2 --help

